.Dictionary {
	width: 100%;
	visibility: hidden;
	position: absolute;
	padding: 30px;
	top: 0;
	height: 100vh;
	overflow-y: scroll; 
	transition: 0.9s ease;
	opacity: 0;
	transform: translateY(-100%);

}
.Dictionary.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.gradient {
	background: linear-gradient(to right, #624c99, #9767ad)
}
.word {
	line-height: 50px;
	margin: 0 auto;
	width: 50%;
	color: white;
	border-radius: 100px; 
	margin-bottom: 20px;
}
.wordadd {
	background: transparent;
	border: 1px solid #9b59b6;
	color: #9b59b6;
	margin-top: 200px;
	margin-bottom: 50px;
}
.word .eng, .word .rus {
	text-align: center;
	width: 40%;
	display: inline-block;
}
.wordadd input {
	width: 70%;
	font-size: 1em;
	text-align: center;
	background: none;
	outline: none;
	border: none;
	color: #9b59b6;
	border-bottom: 1px solid #9b59b6;
}
.wordadd div {
	display: inline-block;
	text-align: center;
	width: 40%;
}
.word img {
	height: 30px;
	vertical-align: middle;
	margin-right: 10px;
}
.word .delete, .word .add {
	float: right;
	cursor: pointer;
	line-height: 50px;
}