.Practise {
	width: 100%;
	visibility: hidden;
	position: absolute;
	padding: 30px;
	top: 0;
	height: 100vh;
	overflow-y: scroll; 
	transition: 0.9s ease;
	transform: translateY(100%);
	opacity: 0;
}
.Practise.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.translates {
	height: 20px!important;
}

.error {
	color: red;
	position: fixed;
	width: 300px;
	bottom: 10px;
	text-align: center;
	right: 10px;
	line-height: 30px;
	min-height: 30px;
	border: 1px solid red;
	opacity: 0;
	transition: 0.5s ease;
	border-radius: 100px;
	transform: translateY(100%);
}
.error.active {
	opacity: 1;
	transform: translateY(0);
}
#tryAgain {
	line-height: 35px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: white;
	cursor: pointer;
}
.startPractise {
	line-height: 100px;
	width: 50%;
	position: absolute;
	left: 25%;
	color: white;
	border-radius: 100px; 
	margin-bottom: 20px;
	text-align: center;
	transition: 0.8s ease;
	top: 300px;
	cursor: pointer;
	font-weight: 500;
}
.inactive {
	opacity: 0;
	visibility: hidden;
}

.card, .statcard {
	width: 300px;
	margin: 0 auto;
	border-radius: 10px;
	overflow: hidden;
	transition: 0.4s ease;
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: 0 10px 35px 5px rgba(0,0,0,.3);
	background: white;
}
.centered {
	right: calc(50% - 150px)!important;
}
.statcard {
	width: 400px;
	text-align: center;
	right: 0;
	z-index: 1;
	overflow-y: scroll;
	height: 395px;
}
.statcard p:first-of-type {
	font-size: 1.4em;
	color: #9767ad;
	font-weight: 500;
	margin-bottom: 20px;
}
.statcard img {
	width: 50%;
}
.card h2 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.card .option {
	background: #9767ad;
	border-top: 1px solid white;
	line-height: 50px;
	text-align: center;
	color: white;
	transition: .4s ease;
}
.card .option:hover {
	background: #624c99;
	cursor: pointer;
}
.card.before {
	visibility: hidden;
	transform: translateX(-100%);
	opacity: 0;
}
.card.after, .statcard.after {
	visibility: hidden;
	transform: translateX(100%);
	opacity: 0;
}

.mistake {
	text-decoration: line-through;
	opacity: .5;
	margin-right: 7px;
	display: inline-block;
}
.translates_final {
	width: 20px!important;
	vertical-align: middle;
	margin: 0 10px;
}
.output {
	line-height: 35px;
}
.output:nth-of-type(odd) {
	background: rgba(97, 97, 100, 0.07);
}
.l {
	padding-left: 20px;
	width: 35%;
	display: inline-block;
	text-align: left;
}
.r {
	width: 55%;
	text-align: left;
	display: inline-block;
	text-indent: 10px;
}
.PractiseWrapper {
	position: relative;
	top: 100px;
	width: 1200px;
	left: calc(50% - 400px);
	opacity: 0;
	visibility: hidden;
	transform: translateY(100px);
	transition: 0.6s ease;
}
.PractiseWrapper.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}
