.Navigation {
	width: 300px;
	background: #0a0f29;
	line-height: 100vh;
	float: left;
	color: white;
}
.Navigation ul {
	display: inline-block;
	padding-left: 20px;
	list-style-type: none;
	margin: 10px;
	line-height: 1.4;
}
.Navigation ul li {
	cursor: pointer;
}
.Navigation ul li img {
	width: 40px;
	vertical-align: middle;
	margin-right: 20px;
}